<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034071469340-reqm11qvqjak9m6pdk3ktphmdr6a5a1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034071469340-reqm11qvqjak9m6pdk3ktphmdr6a5a1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCbBa8wVhNqZWSqiIIJAmxZS6MKtgU57Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034071469340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fibretag</string>
	<key>PROJECT_ID</key>
	<string>fibretag-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fibretag-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034071469340:ios:5c1219fc07fea5a75e1ed9</string>
</dict>
</plist>